<div class="row justify-content-center">

    <!-- liste de mes cards recette -->
    <div class="col-md-3" *ngFor="let e of list; let i=index">
        <mat-card>
            <p>{{e.title}}</p>

            <!-- Si je clique sur l'image alors redirection vers /detail/id -->
            <div class="col-md-12" [routerLink]="['/detail', e.id]">
                <img [src]="e.imageUrl" alt="" srcset="">
            </div>


            <div class="actions">

                <!-- Si je clique sur le stylo alors redirection vers /update/id -->
                <button mat-icon-button [routerLink]="['/update', e.id]" color="primary">
            <mat-icon>create</mat-icon>
          </button>

                <!-- Si je clique sur la poubelle alors redirection vers la Méthode delete(id) -->
                <button mat-icon-button (click)="delete(e.id)" color="warn">
            <mat-icon>delete_sweep</mat-icon>
          </button>

            </div>
        </mat-card>
    </div>
</div>