<mat-card>
    <h4>{{modelCourse.code}}</h4>
    <div class="row">

        <div class="col-md-4">
            <img [src]="modelCourse.code" alt="" srcset="">
        </div>

        <div class="col-md-8">

            <h5>Description</h5>
            <p>{{modelCourse.description}}</p>

            <hr>
            <h5>Title</h5>
            <p>{{modelCourse.title}}</p>
        </div>
    </div>

    <div class="actions">
        <button mat-raised-button [routerLink]="['/list']" color="accent" type="button">Delete</button>
    </div>
</mat-card>